<h2>Create a new supplier:</h2>

<%= form_tag("/suppliers", method: "post") %>
<ul><li><%= label_tag(:name) %>
<%= text_field_tag(:name) %></li>
<li><%= label_tag(:email) %>
<%= text_field_tag(:email) %></li>
<li><%= label_tag(:phone) %>
<%= text_field_tag(:phone) %></li></ul>
<%= submit_tag("create") %>
